/* 
  Silktide Consent Manager - https://silktide.com/consent-manager/  

  Complete isolation from parent styles - maximum protection
*/

/* --------------------------------
  Complete Isolation Solution
-------------------------------- */
/* Complete isolation from parent styles */
#silktide-wrapper {
  all: unset !important;
  isolation: isolate !important;
  contain: layout style paint !important;
  
  /* Redefine everything explicitly */
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 99999 !important;
  pointer-events: none !important;
  border: 0px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
  /* CSS Variables */
  --focus: 0 0 0 2px #ffffff, 0 0 0 4px #000000, 0 0 0 6px #ffffff;
  --boxShadow: -5px 5px 10px 0px #00000012, 0px 0px 50px 0px #0000001a;
  --fontFamily: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  /* Color Scheme */
  --primaryColor: #533BE2;
  --backgroundColor: #FFFFFF;
  --textColor: #253B48;
  /* Backdrop */
  --backdropBackgroundColor: #00000033;
  --backdropBackgroundBlur: 0px;
  /* Cookie Icon */
  --cookieIconColor: #533BE2;
  --cookieIconBackgroundColor: #FFFFFF;
}

#silktide-wrapper *,
#silktide-wrapper *::before,
#silktide-wrapper *::after {
  all: unset !important;
  box-sizing: border-box !important;
}

/* --------------------------------
  Global Styles
-------------------------------- */
/* Backdrop (Global) */
#silktide-backdrop-global {
  all: unset !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: auto !important;
  border: 0px !important;
  display: none !important;
}

/* --------------------------------
  Links
-------------------------------- */
#silktide-wrapper a {
  all: unset !important;
  display: inline-block !important;
  color: var(--primaryColor) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  font-family: var(--fontFamily) !important;
}

#silktide-wrapper a:hover {
  cursor: pointer !important;
  color: var(--textColor) !important;
}

/* --------------------------------
  General Styles
-------------------------------- */

#silktide-wrapper .st-button {
  all: unset !important;
  color: var(--backgroundColor) !important;
  background-color: var(--primaryColor) !important;
  border: 2px solid var(--primaryColor) !important;
  padding: 10px 20px !important;
  text-decoration: none !important;
  text-align: center !important;
  display: inline-block !important;
  font-size: 16px !important;
  line-height: 24px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  font-family: var(--fontFamily) !important;
  font-weight: normal !important;
  white-space: nowrap !important;
}

#silktide-wrapper .st-button--primary:hover {
  background-color: var(--backgroundColor) !important;
  color: var(--primaryColor) !important;
}

#silktide-wrapper .st-button--secondary {
  background-color: var(--backgroundColor) !important;
  color: var(--primaryColor) !important;
}

#silktide-wrapper .st-button--secondary:hover {
  background-color: var(--primaryColor) !important;
  color: var(--backgroundColor) !important;
}

/* --------------------------------
  Banner
-------------------------------- */
#silktide-banner {
  all: unset !important;
  font-family: var(--fontFamily) !important;
  color: var(--textColor) !important;
  background-color: var(--backgroundColor) !important;
  box-sizing: border-box !important;
  padding: 32px !important;
  border-radius: 5px !important;
  pointer-events: auto !important;
  border: 0px !important;
  position: fixed !important;
  bottom: 16px !important;
  right: 16px !important;
  width: 600px !important;
  max-width: calc(100% - 32px) !important;
  transform: translate(0, -20px) !important;
  opacity: 0 !important;
  animation: silktide-slideInDown 350ms ease-out forwards !important;
  animation-delay: 0.3s !important;
  box-shadow: -5px 5px 10px 0px #00000012, 0px 0px 50px 0px #0000001a !important;
  display: block !important;
}

#silktide-banner.center {
  top: 50% !important;
  left: 50% !important;
  bottom: auto !important;
  right: auto !important;
  position: fixed !important;
  transform: translate(-50%, calc(-50% - 20px)) !important;
  animation: silktide-slideInDown-center 350ms ease-out forwards !important;
}

#silktide-banner.bottomLeft {
  bottom: 16px !important;
  left: 16px !important;
  right: auto !important;
  position: fixed !important;
}

#silktide-banner.bottomCenter {
  bottom: 16px !important;
  left: 50% !important;
  right: auto !important;
  position: fixed !important;
  transform: translate(-50%, -20px) !important;
  animation: silktide-slideInDown-bottomCenter 350ms ease-out forwards !important;
}

#silktide-banner .preferences {
  all: unset !important;
  display: flex !important;
  gap: 5px !important;
  border: none !important;
  padding: 0px !important;
  background-color: transparent !important;
  color: var(--primaryColor) !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-family: var(--fontFamily) !important;
  align-items: center !important;
}

#silktide-banner .preferences span {
  all: unset !important;
  display: block !important;
  white-space: nowrap !important;
  text-decoration: underline !important;
  font-family: var(--fontFamily) !important;
  font-size: 16px !important;
  color: var(--primaryColor) !important;
}

#silktide-banner .preferences span:hover {
  color: var(--textColor) !important;
}

#silktide-banner .preferences:after {
  content: '>' !important;
  display: block !important;
  text-decoration: none !important;
  color: var(--primaryColor) !important;
  font-family: var(--fontFamily) !important;
}

#silktide-banner p {
  all: unset !important;
  font-size: 16px !important;
  line-height: 24px !important;
  margin: 0px 0px 15px 0px !important;
  display: block !important;
  font-family: var(--fontFamily) !important;
  color: var(--textColor) !important;
  font-weight: normal !important;
}

#silktide-banner a {
  all: unset !important;
  display: inline-block !important;
  color: var(--primaryColor) !important;
  text-decoration: underline !important;
  background-color: transparent !important;
  cursor: pointer !important;
  font-family: var(--fontFamily) !important;
}

#silktide-banner a:hover {
  color: var(--textColor) !important;
}

#silktide-banner a.silktide-logo {
  all: unset !important;
  display: block !important;
  fill: var(--primaryColor) !important;
  margin-left: auto !important;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer !important;
  flex-shrink: 0 !important;
}

#silktide-banner .actions {
  all: unset !important;
  display: flex !important;
  gap: 16px !important;
  flex-direction: column !important;
  margin-top: 24px !important;
}

@media (min-width: 600px) {
  #silktide-banner .actions {
    flex-direction: row !important;
    align-items: center !important;
  }
}

#silktide-banner .actions-row {
  all: unset !important;
  display: flex !important;
  gap: 16px !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-grow: 1 !important;
}

/* --------------------------------
  Modal
-------------------------------- */
#silktide-modal {
  all: unset !important;
  display: none !important;
  pointer-events: auto !important;
  width: 800px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  border: 0px !important;
  transform: translate(0px, -20px) !important;
  opacity: 0 !important;
  animation: silktide-slideInUp-center 350ms ease-out forwards !important;
  box-shadow: -5px 5px 10px 0px #00000012, 0px 0px 50px 0px #0000001a !important;
  font-family: var(--fontFamily) !important;
  color: var(--textColor) !important;
  flex-direction: column !important;
  padding: 30px !important;
  background-color: var(--backgroundColor) !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
}

/* --------------------------------
  Modal - Header
-------------------------------- */
#silktide-modal header {
  all: unset !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  gap: 16px !important;
}

#silktide-modal h1 {
  all: unset !important;
  font-family: var(--fontFamily) !important;
  color: var(--textColor) !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  margin: 0px !important;
  display: block !important;
  line-height: 1.2 !important;
}

#silktide-modal .modal-close {
  all: unset !important;
  display: inline-flex !important;
  border: none !important;
  padding: 10px !important;
  cursor: pointer !important;
  background: transparent !important;
  color: var(--primaryColor) !important;
  align-items: center !important;
  justify-content: center !important;
  flex-shrink: 0 !important;
}

#silktide-modal .modal-close svg {
  fill: var(--primaryColor) !important;
  width: 20px !important;
  height: 20px !important;
}

/* --------------------------------
  Modal - Content
-------------------------------- */

#silktide-modal section {
  all: unset !important;
  flex: 1 !important;
  overflow-y: auto !important;
  margin-top: 32px !important;
  padding-right: 7px !important;
  display: block !important;
}

#silktide-modal section::-webkit-scrollbar {
  display: block !important;
  width: 5px !important;
}

#silktide-modal section::-webkit-scrollbar-thumb {
  background-color: var(--textColor) !important;
  border-radius: 10px !important;
}

#silktide-modal p {
  all: unset !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--textColor) !important;
  margin: 0px 0px 15px 0px !important;
  display: block !important;
  font-family: var(--fontFamily) !important;
  font-weight: normal !important;
}

#silktide-modal p:last-of-type {
  margin-bottom: 0px !important;
}

#silktide-modal fieldset {
  all: unset !important;
  padding: 0px !important;
  border: none !important;
  margin: 0px 0px 32px 0px !important;
  display: block !important;
}

#silktide-modal fieldset:last-of-type {
  margin-bottom: 0px !important;
}

#silktide-modal legend {
  all: unset !important;
  padding: 0px !important;
  margin: 0px 0px 10px 0px !important;
  font-weight: 700 !important;
  color: var(--textColor) !important;
  font-size: 16px !important;
  display: block !important;
  font-family: var(--fontFamily) !important;
  line-height: 1.2 !important;
}

#silktide-modal .cookie-type-content {
  all: unset !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  gap: 24px !important;
}

#silktide-modal .cookie-type-description {
  all: unset !important;
  display: block !important;
  flex: 1 !important;
}

/* --------------------------------
  Modal - Switches
-------------------------------- */
#silktide-modal .switch {
  all: unset !important;
  flex-shrink: 0 !important;
  position: relative !important;
  display: inline-block !important;
  height: 34px !important;
  width: 74px !important;
  cursor: pointer !important;
}

#silktide-modal .switch input {
  all: unset !important;
  opacity: 0 !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  cursor: pointer !important;
}

/* Unchecked Switch Styles */
#silktide-modal .switch__pill {
  all: unset !important;
  position: relative !important;
  display: block !important;
  height: 34px !important;
  width: 74px !important;
  background: var(--textColor) !important;
  border-radius: 25px !important;
}

#silktide-modal .switch__dot {
  all: unset !important;
  position: absolute !important;
  top: 2px !important;
  left: 2px !important;
  display: block !important;
  height: 30px !important;
  width: 30px !important;
  background: var(--backgroundColor) !important;
  border-radius: 50% !important;
  transition: left 150ms ease-out !important;
}

#silktide-modal .switch__off,
#silktide-modal .switch__on {
  all: unset !important;
  text-transform: uppercase !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--backgroundColor) !important;
  position: absolute !important;
  top: 7px !important;
  right: 8px !important;
  transition: right 150ms ease-out, opacity 150ms ease-out !important;
  font-family: var(--fontFamily) !important;
  pointer-events: none !important;
}

#silktide-modal .switch__off {
  opacity: 1 !important;
}

#silktide-modal .switch__on {
  opacity: 0 !important;
}

/* Checked Switch Styles */
#silktide-modal .switch input:checked + .switch__pill {
  background: var(--primaryColor) !important;
}

#silktide-modal .switch input:checked ~ .switch__dot {
  left: calc(100% - 32px) !important;
}

#silktide-modal .switch input:checked ~ .switch__off {
  right: calc(100% - 32px) !important;
  opacity: 0 !important;
}

#silktide-modal .switch input:checked ~ .switch__on {
  right: calc(100% - 34px) !important;
  opacity: 1 !important;
}

/* Disabled Switch Styles */
#silktide-modal .switch input:disabled + .switch__pill {
  opacity: 0.65 !important;
  cursor: not-allowed !important;
}

#silktide-modal .switch input:disabled {
  cursor: not-allowed !important;
}

/* --------------------------------
  Modal - Footer
-------------------------------- */
#silktide-modal footer {
  all: unset !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
  margin-top: 24px !important;
}

@media (min-width: 600px) {
  #silktide-modal footer {
    flex-direction: row !important;
    align-items: center !important;
  }
}

#silktide-modal footer a {
  all: unset !important;
  margin-left: auto !important;
  display: inline-block !important;
  color: var(--primaryColor) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  font-family: var(--fontFamily) !important;
  font-size: 16px !important;
}

#silktide-modal footer a:hover {
  color: var(--textColor) !important;
}

/* Cookie Icon */
#silktide-cookie-icon {
  all: unset !important;
  display: none !important;
  position: fixed !important;
  bottom: 10px !important;
  left: 10px !important;
  justify-content: center !important;
  align-items: center !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  padding: 0px !important;
  border: none !important;
  background-color: var(--cookieIconColor) !important;
  cursor: pointer !important;
  box-shadow: 0px 0px 6px 0px #0000001a !important;
  pointer-events: auto !important;
  animation: silktide-fadeIn 0.3s ease-in-out forwards !important;
}

#silktide-cookie-icon.bottomRight {
  left: auto !important;
  right: 10px !important;
}

#silktide-cookie-icon svg {
  fill: var(--cookieIconBackgroundColor) !important;
  width: 38px !important;
  height: 38px !important;
}

/* --------------------------------
  Backdrop
-------------------------------- */
#silktide-backdrop {
  all: unset !important;
  display: none !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--backdropBackgroundColor) !important;
  backdrop-filter: blur(var(--backdropBackgroundBlur)) !important;
  pointer-events: all !important;
}

/* --------------------------------
  Animations
-------------------------------- */
@keyframes silktide-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes silktide-slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes silktide-slideInDown-center {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 20px));
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes silktide-slideInDown-bottomCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes silktide-slideInUp-center {
  from {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}